:root {
  --font-family-base: "Montserrat", sans-serif;

  --font-size-2xs: 0.75rem;
  --font-size-xs: 0.8125rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.75rem;
  --font-size-4xl: 2rem;
  --font-size-5xl: 2.5rem;
  --font-size-6xl: 3rem;

  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.7;

  --font-size-10: 0.625rem;
  --font-size-11: 0.6875rem;
  --font-size-12: var(--font-size-2xs);
  --font-size-13: var(--font-size-xs);
  --font-size-14: var(--font-size-sm);
  --font-size-15: 0.9375rem;
  --font-size-16: var(--font-size-base);
  --font-size-17: 1.0625rem;
  --font-size-18: var(--font-size-lg);
  --font-size-19: 1.1875rem;
  --font-size-20: var(--font-size-xl);
  --font-size-21: 1.3125rem;
  --font-size-22: 1.375rem;
  --font-size-23: 1.4375rem;
  --font-size-24: var(--font-size-2xl);
  --font-size-25: 1.5625rem;
  --font-size-26: 1.625rem;
  --font-size-27: 1.6875rem;
  --font-size-28: var(--font-size-3xl);
  --font-size-29: 1.8125rem;
  --font-size-30: 1.875rem;
  --font-size-31: 1.9375rem;
  --font-size-32: var(--font-size-4xl);
  --font-size-33: 2.0625rem;
  --font-size-34: 2.125rem;
  --font-size-35: 2.1875rem;
  --font-size-36: 2.25rem;
  --font-size-37: 2.3125rem;
  --font-size-38: 2.375rem;
  --font-size-39: 2.4375rem;
  --font-size-40: var(--font-size-5xl);
  --font-size-41: 2.5625rem;
  --font-size-42: 2.625rem;
  --font-size-43: 2.6875rem;
  --font-size-44: 2.75rem;
  --font-size-45: 2.8125rem;
  --font-size-46: 2.875rem;
  --font-size-47: 2.9375rem;
  --font-size-48: var(--font-size-6xl);
  --font-size-49: 3.0625rem;
  --font-size-50: 3.125rem;

  --color-primary: #03624c;
  --color-primary-dark: #023429;
  --color-primary-light: #0ca582;
  --color-primary-subtle: #9ac0b7;
  --color-white: #fcfcfc;
  --color-gray: #aaabb2;
  --color-black: #030f0f;
  --color-input-bg: #f2f6fc;
  --color-card-bg: #ffffff;
  --color-accent-red: #ff383c;
  --color-progress-bar-bg: #ecf2fa;
  --color-category-travel: #9ba50c;
  --color-category-transport: #1e90ff;
  --color-category-entertainment: #0c87a5;
  --color-category-subscription: #a50c0c;
  --color-category-bills: #87ceeb;
  --shadow-card: 0 2px 8px rgba(0, 0, 0, 0.1);
  --asset-icon-savings: url("/assets/savings.svg");
  --asset-icon-streak: url("/assets/streak.svg");
  --asset-icon-level: url("/assets/level.svg");
  --asset-icon-pengeluaran: url("/assets/pengeluaran.svg");
  --asset-graphic-calculator-cuate: url("/assets/graphic/calculator-cuate.svg");
  --asset-graphic-investing-cuate: url("/assets/graphic/investing-cuate.svg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-base);
}
